.mstheme{
nav-banner-image:url(tecbnr.gif);
separator-image:url(tecrule.gif);
list-image-1:url(tecbull1.gif);
list-image-2:url(tecbull2.gif);
list-image-3:url(tecbull3.gif);
navbutton-horiz-pushed:url(tecphp.gif);
navbutton-horiz-normal:url(tecphb.gif);
navbutton-vert-pushed:url(tecpvp.gif);
navbutton-vert-normal:url(tecpvb.gif);
navbutton-home-normal:url(techome.gif);
navbutton-up-normal:url(tecup.gif);
navbutton-prev-normal:url(tecprev.gif);
navbutton-next-normal:url(tecnext.gif);
}
UL{
list-style-image:url(tecbull1.gif);
}
UL UL{
list-style-image:url(tecbull2.gif);
}
UL UL UL{
list-style-image:url(tecbull3.gif);
}
.mstheme-bannertxt{
font-family:Impact,Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFCC;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFCC;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFCC;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFCC;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
