a:link{
color:#0075FF;
}
a:visited{
color:#9A9A9A;
}
a:active{
color:#6AAFFF;
}
body{
color:#6200B8;
background-color:#FFFFFF;
}
h1{
color:#6200B8;
}
h2, marquee{
color:#6200B8;
}
h3{
color:#6200B8;
}
h4{
color:#6200B8;
}
h5{
color:#6200B8;
}
h6{
color:#6200B8;
}
label, .MSTHEME-LABEL{
color:#6200B8;
}
FIELDSET{
border-color:#D1D1D1;
color:#6200B8;
}
LEGEND{
color:#6200B8;
}
SELECT{
border-color:#ECECEC;
color:#000000;
}
TABLE{
table-border-color-light:#6AAFFF;
table-border-color-dark:#6AAFFF;
border-color:#333333;
color:#6200B8;
}
CAPTION{
color:#6200B8;
}
TH{
color:#6200B8;
}
HR{
color:#D1D1D1;
}
TD{
border-color:#333333;
}
