a:link{
color:#1F86FF;
}
a:visited{
color:#005DC9;
}
a:active{
color:#62A9FF;
}
body{
color:#003572;
background-color:#FFFFFF;
}
h1{
color:#003572;
}
h2, marquee{
color:#003572;
}
h3{
color:#003572;
}
h4{
color:#003572;
}
h5{
color:#003572;
}
h6{
color:#003572;
}
label, .MSTHEME-LABEL{
color:#003572;
}
FIELDSET{
border-color:#C1C1C1;
color:#003572;
}
LEGEND{
color:#003572;
}
SELECT{
border-color:#919398;
color:#000000;
}
TABLE{
table-border-color-light:#E6E6E6;
table-border-color-dark:#D1D1D1;
border-color:#333333;
color:#003572;
}
CAPTION{
color:#003572;
}
TH{
color:#003572;
}
HR{
color:#C1C1C1;
}
TD{
border-color:#333333;
}
