vti_encoding:SR|utf8-nl
vti_author:SR|x
vti_modifiedby:SR|x
vti_timelastmodified:TR|13 Jun 2004 08:15:42 -0000
vti_timecreated:TR|13 Jun 2004 08:15:42 -0000
vti_cacheddtm:TX|13 Jun 2004 08:15:44 -0000
vti_filesize:IR|5080
vti_cachedlinkinfo:VX|S|tecbnr.gif S|tecphb.gif S|tecphp.gif S|techome.gif S|tecnext.gif S|tecprev.gif S|tecup.gif S|tecglb.gif S|tecpvb.gif S|tecpvp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/technolo/tecbnr.gif FSUS|_themes/technolo/tecphb.gif FSUS|_themes/technolo/tecphp.gif FSUS|_themes/technolo/techome.gif FSUS|_themes/technolo/tecnext.gif FSUS|_themes/technolo/tecprev.gif FSUS|_themes/technolo/tecup.gif FSUS|_themes/technolo/tecglb.gif FSUS|_themes/technolo/tecpvb.gif FSUS|_themes/technolo/tecpvp.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{E1ECDB0D-BD27-11D8-9D5F-0030843F15E6}
vti_backlinkinfo:VX|
