a:link{
color:#003333;
}
a:visited{
color:#CCCC99;
}
a:active{
color:#FFFFFF;
}
body{
color:#FFFFCC;
background-color:#669999;
}
h1{
color:#FFFFCC;
}
h2,marquee{
color:#FFFFCC;
}
h3{
color:#FFFFCC;
}
h4{
color:#FFFFCC;
}
h5{
color:#FFFFCC;
}
h6{
color:#FFFFCC;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFCC;
}
FIELDSET{
border-color:#CCCC99;
color:#FFFFCC;
}
LEGEND{
color:#FFFFCC;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#006666;
table-border-color-dark:#003333;
border-color:#003333;
color:#FFFFCC;
}
CAPTION{
color:#FFFFCC;
}
TH{
color:#FFFFCC;
}
HR{
color:#CCCC99;
}
TD{
border-color:#CCCC99;
}
