vti_encoding:SR|utf8-nl
vti_author:SR|Mihai-PC\\Mihai
vti_modifiedby:SR|Mihai-PC\\Mihai
vti_timelastmodified:TR|07 Dec 2007 05:49:31 -0000
vti_timecreated:TR|07 Dec 2007 05:49:31 -0000
vti_cacheddtm:TX|07 Dec 2007 05:49:31 -0000
vti_filesize:IR|29487
vti_cachedlinkinfo:VX|S|top_bar_button_ice.gif S|background_ice.gif S|bull2_ice.gif S|toolgrad_ice.gif S|theme.css S|dot_ice.gif S|toolgrad_ice.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/ice/top_bar_button_ice.gif FSUS|_themes/ice/background_ice.gif FSUS|_themes/ice/bull2_ice.gif FSUS|_themes/ice/toolgrad_ice.gif FSUS|_themes/ice/theme.css FSUS|_themes/ice/dot_ice.gif FSUS|_themes/ice/toolgrad_ice.gif NSUS|_themes/ice/blank.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|_themes/ice/theme.css
