vti_encoding:SR|utf8-nl
vti_author:SR|x
vti_modifiedby:SR|x
vti_timelastmodified:TR|01 Jun 2004 11:59:22 -0000
vti_timecreated:TR|01 Jun 2004 11:59:22 -0000
vti_cacheddtm:TX|01 Jun 2004 11:59:24 -0000
vti_filesize:IR|5303
vti_cachedlinkinfo:VX|S|inmbannd.gif S|inmhbudd.gif S|inmhbusd.gif S|inmhombd.gif S|inmnexbd.gif S|inmprebd.gif S|inmupbd.gif S|inmglob.gif S|inmvbudd.gif S|inmvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/inmotion/inmbannd.gif FSUS|_themes/inmotion/inmhbudd.gif FSUS|_themes/inmotion/inmhbusd.gif FSUS|_themes/inmotion/inmhombd.gif FSUS|_themes/inmotion/inmnexbd.gif FSUS|_themes/inmotion/inmprebd.gif FSUS|_themes/inmotion/inmupbd.gif FSUS|_themes/inmotion/inmglob.gif FSUS|_themes/inmotion/inmvbudd.gif FSUS|_themes/inmotion/inmvbusd.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{27FE1AFC-B3D5-11D8-9D5F-0030843F15E6}
vti_backlinkinfo:VX|
